    <div class="contenedor-barra">
      <h1>Contact List</h1>
    </div>
    <div class="card text-left">
      <form id="contacto" action="" method="POST">
      <div class="card-body">
        <div class="form-group">
          <label for="password">New Password</label>
          <input required type="password"
            class="form-control" name="password" id="password" aria-describedby="password" placeholder="New Password" value="">
        </div>
        <button type="submit" class="btn btn-success" href="#" role="button">Save new password</button>
      </form>
    </div>