<h1
    style="
    text-align: center;
    font-family: Arial, Helvetica;
    "
>Reset Password</h1>
<p  style="
    font-family: Arial, Helvetica;
    ">Hello, please click to reset your password: () </p>
<a  style="
    display: block;
    font-family: Arial, Helvetica;
    padding: 1rem;
    background-color: #00C897;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    " href="<%= resetUrl %>">Reset password.</a>
<p>If you can't visit the page, just copy and paste the link: <%= resetUrl %></p>